.box-large {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 1000px;
  height: 900px;
}
.popup-closeButton {
  /* background-color: #6bb7e4; */
  font-size: 28px;
  margin-left: auto;
  margin-bottom: -0.5rem;
  width: 45px;
  text-align: center;
  cursor: pointer;
}
.text-head {
  color: #0081a7;
  font-size: 32px;
  /* margin-right: 1rem;
  margin-left: 1rem; */
  margin: 0rem 1rem;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.text-special {
  color: #ffff;
  font-size: 18px;
  font-weight: 300;
  background-color: #00afb9;
  border-radius: 1rem;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 8px; */
}
.text-origin {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.text-input-box {
  display: flex;
  /* background: #7dd45b; */
}
.text-box {
  /* background: #00afb9; */
  margin: 0.5rem 3rem 0rem 1.5rem;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input-box {
  /* background: #cfc06a; */
  margin: 0.5rem;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input {
  border: 1px solid #00afb9;
  border-radius: 1rem;
  width: 190px;
  height: 25px;
  margin-bottom: 3px;
}

.top-box {
  /* background-color: #ec8e82; */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.left-box {
  /* background: rgb(221, 104, 162); */
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  /* background: rgb(214, 164, 107); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.line {
  background: #00afb9;
  width: 520px;
  height: 2px;
  display: flex;
}
.detail {
  margin: -0.75rem 3rem 0rem 1.5rem;
  font-size: 22px;
  font-weight: 300;
  /* background: rgb(216, 130, 130); */
}
.input-detail {
  border: 1px solid #00afb9;
  border-radius: 0.65rem;
  width: 500px;
  height: 100px;
  margin: 0.5rem 0rem 0rem 1.5rem;
}

.right-box {
  /* background-color: #76e697; */
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.addPicture {
  font-size: 26px;
  font-weight: 300;
  color: #00afb9;
  border: 1px solid #00afb9;
  border-radius: 0.65rem;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.line2 {
  background: #00afb9;
  width: 300px;
  height: 1.5px;
  display: flex;
}
.show-picture-cover {
  /* background: #e6a376; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0rem 2rem;
}
.show-picture {
  border: 0.5px solid #00afb9;
  width: 70px;
  height: 70px;
  border-radius: 0.5rem;
}
.text-origin-2 {
  font-size: 22px;
  font-weight: 300;
  /* margin-bottom: 0.5rem; */
}
.text-box-2 {
  /* background: #00afb9; */
  margin: 0.5rem 0.5rem 0rem 1.5rem;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding-top: 6px;
  padding-bottom: 2px; */
}
.input-box-2 {
  /* background: #cfc06a; */
  margin: 0.5rem;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input-account {
  border: 1px solid #00afb9;
  border-radius: 0.65rem;
  width: 200px;
  height: 30px;
  margin-bottom: 0.5rem;
}
.input-detail-2 {
  border: 1px solid #00afb9;
  border-radius: 0.65rem;
  width: 200px;
  height: 50px;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  height: 50%;
  /* background: rgb(200, 106, 106); */
}
.line-bottom {
  background: #00afb9;
  width: 560px;
  height: 2px;
  display: flex;
}
.text-bottom {
  font-size: 22px;
  font-weight: 300;
}
.input-bottom {
  border: 1px solid #00afb9;
  border-radius: 0.5rem;
  width: 740px;
  height: 45px;
}
.text-input-bottom {
  display: flex;
}
.text-box-bottom {
  /* background: rgb(224, 132, 132); */
  margin: 1rem 0rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
}
.input-box-bottom {
  /* background: rgb(116, 226, 112); */
  margin: 1rem 0rem 0rem 1rem;
  height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: rgb(207, 107, 107); */
  padding-right: 3rem;
  padding-left: 2rem;
}
.text-footer {
  font-size: 18px;
}
.footer-button {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #ffff;
  background: #ec8e82;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}
