.popup-text-head {
  color: #0081a7;
  font-size: 30px;
}
.popup-text-special {
  color: #ffff;
  width: 200px;
  text-align: center;
  background-color: #00afb9;
  border-radius: 1rem;
}
.popup-input {
  border: 1px solid #00afb9;
  border-radius: 1rem;
  width: 200px;
  height: 30px;
}

.popup2-top-box {
  background-color: #ec8e82;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.popup2-text-box {
  background-color: #6bb7e4;
  width: 50%;
  height: 270px;
  display: flex;
}
.popup2-input-box {
  background-color: #6bb7e4;
  width: 50%;
  height: 270px;
  display: flex;
}
.popup-line2 {
  background: #0081a7;
  width: 280px;
  height: 2px;
  display: flex;
}

.popup2-right-box {
  background-color: #76e697;
  width: 50%;
  height: 270px;
}
.popup2-footter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 550px;
}
.popup2-footer-button {
  color: #ffff;
  background: #ec8e82;
  padding: 5px 10px;
  border-radius: 1rem;
}
