.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.popup-box {
  min-width: 650px;
  min-height: 650px;
  background: white;
  border-radius: 1.5rem;
}
