html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #292929;
}

@font-face {
  src: url('../../../fonts/Kanit-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}



.home-background {
  margin: 0;
}

/*------------------- N E W S ---------------------------------------------*/

.news-pad {
  margin: 0;
  height: 469px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news {
  /* max-height: 469px; */
  max-height: 569px;
}
.news-img {
  height: 469px;
  width: 709px;
}

/*------------------- W E L C O M E ---------------------------------------------*/

.welcome-pad-main {
  height: 583px;
  width: 100%;
}

.welcome-pad {
  position: relative;
}

.welcome-bg {
  position: absolute;
  height: 583px;
  width: 100%;
}
.welcome-font-pad {
  position: absolute;
  height: 583px;
}

.welcome-Header {
  margin-top: 105px;
  margin-left: 53px;

  font-size: 64px;
  color: #ffffff;
}
.welcome-text {
  font-size: 32px;
  color: #00d4e0;
  margin-top: 49px;
  margin-left: 149px;
  margin-right: 421px;
}
.login-button-pad {
  margin-top: 22px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.welcome-login-button {
  height: 80px;
  width: 315.9693603515625px;
  font-size: 26px;

  color: #ffffff;
  margin-right: 67px;
  background: rgba(97, 97, 97, 0.6);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 35px;
}
.welcome-login-button:hover {
  cursor: pointer;
  color: #00d4e0;
  box-shadow: inset 3px 3px 5px rgba(94, 14, 223, 0.1),
    inset -3px -3px 5px rgba(0, 231, 212, 0.5);
}

/*------------------- A C T I V I T I E S ---------------------------------------------*/

.activities-pad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 919px;
}
.activities-pad-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 919px;
  margin: 20px;
}
.activity-pad {
  height: 575.58px;
  margin: 13px;
  justify-content: center;
  align-items: center;
}
.activity-header {
  font-size: 42px;
  font-style: Bold;
  color: #0081a7;
  text-align: center;
}
.activity-center-pad {
  display: flex;
  justify-content: center;
  align-items: center;
}
.activity-img {
  height: 375px;
  width: auto;
}
.activity-details {
  font-size: 32px;
  color: #00afb9;
  text-align: center;
}

.adopt-button {
  height: 95.57615661621094px;
  width: 328px;
  border-radius: 35px;
  border: 3px solid #0081a7;
  box-sizing: border-box;

  font-size: 26px;

  color: #0081a7;
  background: rgba(255, 255, 255);
  text-align: center;
  justify-content: center;
  align-items: center;
  /* Note: backdrop-filter has minimal browser support */
}

.dealing-button {
  height: 95.57615661621094px;
  width: 328px;
  border-radius: 35px;
  border: 3px solid #0081a7;
  box-sizing: border-box;

  font-size: 26px;

  color: #0081a7;
  background: rgba(255, 255, 255);
  text-align: center;
  justify-content: center;
  align-items: center;
  /* Note: backdrop-filter has minimal browser support */
}
.office-button {
  height: 95.57615661621094px;
  width: 328px;
  border-radius: 35px;
  border: 3px solid #0081a7;
  box-sizing: border-box;

  font-size: 26px;

  color: #0081a7;
  background: rgba(255, 255, 255);
  text-align: center;
  justify-content: center;
  align-items: center;
  /* Note: backdrop-filter has minimal browser support */
}

.adopt-button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #00afb9;
  border: 3px solid #00afb9;
  box-shadow: inset 3px 3px 5px rgba(94, 14, 223, 0.1),
    inset -3px -3px 5px rgba(1, 32, 32, 0.5);
}
.dealing-button:hover {
  cursor: pointer;
  color: #ffffff;
  background: #f07167;
  border: 3px solid #f07167;
  box-shadow: inset 3px 3px 5px rgba(82, 0, 214, 0.1),
    inset -3px -3px 5px rgba(241, 255, 255, 0.5);
}
.office-button:hover {
  cursor: pointer;
  color: #ffffff;
  background: #0081a7;
  border: 3px solid #0081a7;
  box-shadow: inset 3px 3px 5px rgba(94, 14, 223, 0.1),
    inset -3px -3px 5px rgba(241, 255, 255, 0.5);
}

/*------------------- C O N T A C T ---------------------------------------------*/

.contacts-pad {
  background-color: #0a272c;
  display: flex;
  justify-content: space-around;
  height: 300px;
}
.bottom-icon-pad {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-icon {
  width: 56px;
  height: 59px;
  margin: 20px;
}
.bottom-icon-text {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  color: white;
}
.contact-pad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #bbbbbb; */
}
.contact-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: white;
  text-align: center;
}

.contact-pad-roll-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-pad-roll-2 {
  align-items: center;
  justify-content: center;
}
.tel-icon {
  width: 21px;
}
.mail-icon {
  width: 23px;
}
.address-icon {
  width: 32px;
}
