.petcard-wrapper {
  width: 300px;
  height: 380px;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 5px #888888;
  position: relative;
}

.petcard-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0.5rem 0.5rem;
}
.petcard-detail {
  display: flex;
  justify-content: space-around;
  /* background: rgb(72, 187, 88); */
}
.petcard-detail-left {
  display: flex;
  height: 80px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding-left: 0.25rem;
  /* background: rgb(194, 89, 89); */
}
.head {
  font-size: 18px;
  font-weight: 300;
  width: 75px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: rgb(88, 200, 94); */
}
.box-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail {
  font-size: 16px;
  font-weight: 300;
  width: 130px;
  height: 27px;
  /* background: rgb(138, 114, 224); */
  padding: 2px 0px 0px 5px;
}
.petcard-detail-right {
  /* background: rgb(103, 78, 195); */
  height: 80px;
  width: 80px;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 5px;
}
.petcard-detail-right-imgProfile {
  background: rgb(202, 105, 105);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.petcard-garuntee {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  background: #f07167;
  padding: 0 0.5rem;
  border-radius: 9000px;
  cursor: default;
}

.petcard-garuntee:hover::before {
  opacity: 1;
  pointer-events: all;
}

.petcard-garuntee::before {
  opacity: 0;
  pointer-events: none;
  content: 'ได้การรับรองความปลอดภัย การขายจาก PetMe แล้ว';
  text-align: center;
  width: 220px;
  padding: 0.5rem 1rem;
  top: -4.5rem;
  left: 2rem;
  background: #f07167;
  position: absolute;
  border-radius: 1rem;
  transition: 0.2s;
}
